@media only screen and (min-width: 1921px){
	.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	}
	
	.header {
		background-image: url('../images/mtb-retina.jpg');
	}
	.header h1 {
		font-size: 100px;
	}
	.header p {
		font-size: 35px
	}
	
	.video {
		background-image: url('../images/dirt-retina.jpg');
	}
	
	.arena {
		background-image: url('../images/mtb-track-retina.jpg');
	}
}